@import "tailwindcss";

@theme {
  --color-neon : #0ff;
  --color-darkBg : #1a1a2e;
  --color-btnBg : #ff007f;
  --default-font-family-pixel: ["Press Start 2P", "cursive"];
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.glow {
  text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff;
}
.btn-glow {
  box-shadow: 0 0 5px #ff007f, 0 0 15px #ff007f;
}